@model List<SolucionExamen.Models.CoffeeModel>

@{
    ViewData["Title"] = "Dispensador de café";
}

<h1>@ViewBag.MainTitle</h1>

<div>
    @using (Html.BeginForm("MakeShopOrder", "CoffeeDispenser", FormMethod.Post))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Cantidad disponible</th>
                    <th>Tipo de café</th>
                    <th>Precio</th>
                    <th>Ordenar</th>
                    <th>Cantidad por orden</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CoffeeQuantity</td>
                        <td>@item.CoffeeType</td>
                        <td>@item.CoffeePrice</td>
                        <td>
                            <input type="checkbox" name="selectedCoffees" value="@item.Id" />Seleccionar
                        </td>
                        <td>
                            <input type="number" name="coffeeQuantities[@item.Id]" min="1" max=@item.CoffeeQuantity/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Realizar Orden" />

        <p>Precio Total de la Orden: ₡@ViewBag.TotalOrderCost</p>
    }
</div>
